apiVersion: xl-deploy/v1
kind: Deployment
spec:
  package: !format Applications/Java/PetPortal/%appversion%
  environment: Environments/Dev/Tomcat-Dev-AsCode
  orchestrators:
    - sequential-by-dependency


